#productos_div{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
    padding: 5px;
    height: 550px;
    width: 250px;
}

#botones_div{
    margin: auto;
    width: 60%;
    padding: 10px;
}

#busqueda_div {
    width: 90%;
}

#busqueda_label{
    margin: 10px;
}